<h1 mat-dialog-title>
    {{title}}
</h1>

<mat-dialog-content>
    <p>
        {{message}}
    </p>

    <ul>
        <li>
            <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="local_data.name">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <input matInput placeholder="Country" [(ngModel)]="local_data.country">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <input matInput placeholder="State" [(ngModel)]="local_data.state">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <input matInput placeholder="Url" [(ngModel)]="local_data.website_url">
            </mat-form-field>
        </li>
    </ul>



</mat-dialog-content>


<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
    <button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions>