<header>
    <div class="container">
        <a routerLink="/" class="logo">CoolApp</a>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/list">List</a></li>
                <li><a href="#" routerLink="/table">Table</a></li>
                <li><a href="#" routerLink="/table2">Table Complex</a></li>
            </ul>
        </nav>
    </div>
</header>



<div class="mat-typography app-frame mat-app-background" fxLayout="column">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<app-loader></app-loader>